<main>

<section class="outer-container">

  <article class="content words">
    <div class="title">FIND IT ALL</div>
    <div>
      <input type="button" class="space words" [class.selected]="my_record" value="MY RECORD">
      <input type="button" class="space words" [class.selected]="collection" value="COLLECTION">
      <input type="button" class="space words" [class.selected]="search" value="SEARCH">
    </div>
    <div class="user">
      <div>USERNAME</div>
      <div class="icon-person"></div>
    </div>
  </article>

</section>

</main>